<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="GestionDeNegocio.Properties.Settings.gestionnegocioConnectionString"
   connectionString="server=localhost;User Id=root;password=root;database=gestionnegocio"
   providerName="MySql.Data.MySqlClient" />
  <add name="GestionDeNegocio.Properties.Settings.gestionnegocioConnectionString1"
   connectionString="Data Source=FABIOLA-PC\SQLEXPRESS;Initial Catalog=gestionnegocio;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="ConnectionString" value="SERVER=localhost;DATABASE=gestionnegocio;UID=root;PASSWORD= root;"/>
	</appSettings>
</configuration>